.sky{
    background-image: url("media/logo1.PNG");
    height: 40px;
}
.sky p{
    margin-left: 20px;
}

.nav{
    background-image: url("media/menú.PNG");
    height: 63px;
}

.fondo{
    background-image: url("media/imagen1.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenido1 {
    padding-top: 150px;
    margin-right: 700px;
    margin-left: 150px;
}

.division1{
    margin-top: -1635px;
    background-color: whitesmoke;
    margin-right: 500px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: #e9f1fc;
    border-width: 1px;
}

.division1 label {
    margin-left: 20px;
    margin-top: 15px;
}

.division1 input{
    height: 50px;
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
}

.form-select{
    height: 50px;
    border-radius: 20px;
}

.division2{
    margin-top: 15px;
    background-color: whitesmoke;
    margin-right: 500px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: #e9f1fc;
    border-width: 1px;
}
h3{
    color:#004884;
}

.division2 label {
    margin-left: 20px;
    margin-top: 15px;
}

.division2 input{
    height: 50px;
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
}

.mapa{
    margin-top: 15px;
    background-color: grey;
    height: 500px;
    border-radius: 10px;
}

.division3{
    margin-top: 15px;
    background-color: whitesmoke;
    margin-right: 500px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: #e9f1fc;
    border-width: 1px;
}

.division4{
    margin-top: 15px;
    background-color: whitesmoke;
    margin-right: 500px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: #e9f1fc;
    border-width: 1px;
}

.division5{
    margin-top: 15px;
    background-color: whitesmoke;
    margin-right: 500px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: #e9f1fc;
    border-width: 1px;
}
.division5 img{
    margin-top: 10px;
}

.division6{
    margin-top: 15px;
    margin-right: 500px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: #e9f1fc;
    border-width: 1px;
}

.btn-primary{
    margin-left: 27%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px;
    height: 60px;
    border-radius: 40px !important;
}

.mapa #map8{
    height: 100%;
    width: 100%;
} 

.animacion{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

.tarjeta1{
    margin-left: 900px;  
}

.tarjeta2{
    margin-left: 900px;  
}


.tarjeta3{
    margin-left: 900px;  
}

.tarjeta4{
    margin-left: 900px;  
}

